# == Application
OWNER_TIMEZONE= # i.e. America/Toronto
OWNER_LOGIN_EMAIL=
OWNER_CONTACT_EMAIL=

# == Analytics
FULLSTORY_ORG_ID=o-1CGMZ5-na1
GOOGLE_ANALYTICS_MEASUREMENT_ID=G-MFGZXQLMM9

# == Spotify
# SPOTIFY_CLIENT_ID=0a0f796dd227445787b5cc019a749555
# SPOTIFY_CLIENT_SECRET=

# == Currently Playing
# CURRENTLY_PLAYING_DEBUG=false

# == Rails
RAILS_SECRET_KEY_BASE= # generate with `bin/rails secret`
# RAILS_LOG_LEVEL=debug

# == Rails: Development
# RAILS_ENV=development
# RAILS_LOG_TO_STDOUT=false
# RAILS_MAILER_PERFORM_DELIVERIES=true

# == Rails: Production
# RAILS_ENV=production
# RAILS_LOG_TO_STDOUT=true
# RAILS_SERVE_STATIC_FILES=false

# == Database: Development
# POSTGRES_URL=postgresql://localhost:5432
# POSTGRES_DATABASE=itskai_development
# POSTGRES_USERNAME=itskai

# == Database: Production
# POSTGRES_URL=postgresql://top2.nearest.of.itskai-db.internal
# POSTGRES_DATABASE=itskai
# POSTGRES_USERNAME=itskai
# POSTGRES_PASSWORD=

# == Mailer: Mailcatcher
# RAILS_MAILER=smtp
# MAILCATCHER_PORT=1025

# == Mailer: Mailjet
# RAILS_MAILER=mailjet_api
# MAILJET_API_KEY=c8aa7cafd6972ffe6718fcfab344b547
# MAILJET_SECRET_KEY=

# == Job Processing: Good Job
# GOOD_JOB_EXECUTION_MODE=async
# GOOD_JOB_MAX_CACHE=10000
# GOOD_JOB_MAX_THREADS=2
# GOOD_JOB_POLL_INTERVAL=30

# == Storage: Local
# RAILS_STORAGE_SERVICE=local

# == Storage: Test
# RAILS_STORAGE_SERVICE=test

# == Storage: AWS
# RAILS_STORAGE_SERVICE=amazon
# AWS_ACCESS_KEY_ID=
# AWS_ACCESS_KEY_SECRET=
# AWS_BUCKET=
# AWS_REGION=
