set editing-mode vi

# == Command Mode
set keymap vi-command

"\C-p": history-search-backward
"\C-n": history-search-forward

# == Insert Mode
set keymap vi-insert

"\C-p": previous-history
"\C-n": next-history
