.ruby-lsp/
.husky/_/
bin/
app/assets/
app/ssr/dist/
db/schema.rb
graphql/schema.graphql
log/
node_modules/
public/assets/
public/dist*/
sorbet/rbi/dsl/
sorbet/rbi/gems/
sorbet/rbi/annotations/
storage/
tmp/
typings/auto-import.d.ts
vendor/
vite.config.ts.timestamp-*.mjs
package-lock.json
yarn.lock
*generated*
Gemfile
Gemfile.lock
