.ruby-lsp/
.venv/
app/assets/
bin/
dist/
db/schema.rb
db/backups/
log/
node_modules/
public/assets/
public/dist*/
sorbet/rbi/dsl/
sorbet/rbi/gems/
sorbet/rbi/annotations/
storage/
tmp/
typings/auto-import.d.ts
vendor/
vite.config.ts.timestamp-*.mjs
package-lock.json
yarn.lock
**/*generated*
Gemfile
Gemfile.lock
