.buttonSection {
  &[data-position="left"] {
    margin-right: 6px;
  }
}

.statusLink {
  &:hover {
    text-decoration: underline;
  }
}

.imageSection {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-9)
  );
}

.notifyFriendsDrawerContent {
  padding-bottom: env(safe-area-inset-bottom, 0px);
  padding-left: env(safe-area-inset-left, 0px);
  padding-right: env(safe-area-inset-right, 0px);
}
