.logoButton {
  height: unset;
  padding-block: 2px;

  :global(.mantine-Button-label) {
    font-weight: 900;
    font-size: var(--mantine-font-size-md);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }

  :global(.mantine-Button-section)[data-position="left"] {
    margin-right: 8px;
  }
}
