.main {
  flex-grow: 1;
  background-color: var(--mantine-color-body);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: calc(
    100dvh - var(--app-shell-footer-height, 0px) -
      env(safe-area-inset-bottom, 0px)
  );
  padding-bottom: 0px;

  --app-shell-footer-offset: calc(
    var(--app-shell-footer-height, 0px) + env(safe-area-inset-bottom, 0px)
  );
}

.breadcrumbSeparator {
  @mixin light {
    color: var(--mantine-color-gray-5);
  }
}
