.shell {
  --app-shell-footer-height: 44px;

  @mixin dark {
    --app-shell-border-color: var(--mantine-color-dark-6);
  }
}

.header {
  height: calc(var(--app-shell-header-height) + env(safe-area-inset-top, 0px));
  padding-top: env(safe-area-inset-top, 0px);
  background-color: transparent;
  pointer-events: none;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: -8px;
    content: "";
    backdrop-filter: blur(4px);
    background-image: linear-gradient(
      to top,
      transparent,
      alpha(var(--mantine-color-body), 0.8)
    );
    mask: linear-gradient(to top, transparent, black rem(24px));
  }

  a,
  button,
  [aria-haspopup] {
    pointer-events: auto;
  }
}

.footer {
  height: calc(
    var(--app-shell-footer-height) + env(safe-area-inset-bottom, 0px)
  );
  padding-inline: 8px;
  padding-bottom: env(safe-area-inset-bottom, 0px);
  margin-left: var(--app-shell-navbar-offset, 0px);
  overflow: hidden;

  &[data-with-border] {
    border-top: rem(1px) solid var(--app-shell-border-color);
  }
}

.main {
  flex-grow: 1;
  background-color: var(--mantine-color-body);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: env(safe-area-inset-top, 0px);
  min-height: calc(
    100vh - env(safe-area-inset-top, 0px) -
      (var(--app-shell-footer-height, 0px) + env(safe-area-inset-bottom, 0px))
  );
  padding-bottom: 0px;

  --app-shell-footer-offset: var(--app-shell-footer-height, 0px);
}

.navbar {
  top: calc(
    var(--app-shell-header-offset, 0rem) + env(safe-area-inset-top, 0px)
  );
  height: calc(
    100vh - env(safe-area-inset-top, 0px) - var(--app-shell-header-offset, 0px)
  );
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

.breadcrumbSeparator {
  @mixin light {
    color: var(--mantine-color-gray-5);
  }
}
