.target {
  font-weight: 700;
  cursor: pointer;
  padding-left: 8px;

  &[data-expanded] {
    border-color: var(--mantine-color-primary-filled);
  }
}

.icon {
  --icon-color: var(--badge-color, var(--mantine-color-white));

  height: 20px;
  width: 20px;
  svg {
    path,
    g {
      fill: var(--icon-color) !important;
      stroke: var(--icon-color) !important;
    }
  }
}

.item {
  @mixin hover {
    background-color: var(--mantine-primary-color-light);
  }
}

.itemSection {
  color: var(--mantine-color-primary-text);
  width: 16px;
  height: 16px;
}

.itemLabel {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  font-weight: 500;
  font-family: var(--mantine-font-family-headings);
}
