.target {
  font-weight: 500;
  cursor: pointer;
  padding-left: 8px;

  &[data-expanded] {
    border-color: var(--mantine-color-primary-outline);
  }
}

.icon {
  --icon-color: var(--badge-color, var(--mantine-color-white));

  height: 20px;
  width: 20px;
  svg {
    path,
    g {
      fill: var(--icon-color) !important;
      stroke: var(--icon-color) !important;
    }
  }
}

.item {
  @mixin hover {
    background-color: var(--mantine-primary-color-light);
  }

  :global(.mantine-Menu-itemSection) {
    color: light-dark(
      var(--mantine-primary-color-7),
      var(--mantine-primary-color-4)
    );
    width: 16px;
    height: 16px;
  }

  :global(.mantine-Menu-itemLabel) {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-5));
    font-weight: 500;
  }
}
