.badge {
  transition-property: transform, opacity, border, box-shadow !important;
  padding-left: 0px;
  cursor: pointer;
  position: relative;
  padding-inline: 0px;

  :global(.mantine-Badge-section) {
    margin: 0px;
  }

  :global(.mantine-Badge-label) {
    max-width: 200px;
  }

  @mixin light {
    border-color: var(--mantine-color-gray-4);
  }

  @mixin hover {
    text-decoration: underline;
    border-color: var(--mantine-color-primary-filled);

    --shadow-color: light-dark(
      alpha(var(--mantine-color-primary-filled), 0.5),
      var(--mantine-color-primary-filled)
    );
    box-shadow: 0px 0px 8px var(--shadow-color);
  }

  &[data-with-lyrics] {
    border-color: var(--mantine-color-primary-filled);
  }
}

.marquee {
  :global(.rfm-marquee) {
    overflow-y: hidden;
  }
}

.marqueeText {
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
}

.trackName {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
}

.artistNames {
  font-family: var(--mantine-font-family);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
}

.albumArt {
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  animation: rotate 4s linear infinite;
}
