body {
  background-color: white;
  margin: 8px;
  text-transform: lowercase;
  button {
    text-transform: lowercase;
  }
  .mantine-Badge-label {
    text-transform: lowercase;
  }

  [data-id="react-email-text"] {
    color: var(--mantine-color-gray-8);
  }
}

#app {
  font-size: 14px;
  --text-fz: var(--mantine-font-size-sm);
}
