body {
  background-color: white;
  margin: 8px;
  text-transform: lowercase;
  button {
    text-transform: lowercase;
  }
  .mantine-Badge-label {
    text-transform: lowercase;
  }
}

#app {
  font-size: 14px;
}
