.button {
  @mixin light {
    &[data-disabled] {
      background-color: var(--mantine-color-gray-4);
      color: var(--mantine-color-gray-6);
    }
  }
}

.passwordInput {
  flex-grow: 1;

  :global(.mantine-TextInput-wrapper) {
    @mixin light {
      --input-bg: var(--mantine-color-white);
    }
  }
}
