.button {
  @mixin light {
    &[data-disabled] {
      background-color: var(--mantine-color-gray-4);
      color: var(--mantine-color-gray-6);
    }
  }
}

.passwordInputWrapper {
  @mixin light {
    --input-bg: var(--mantine-color-white);
  }
}
