.root {
  &:not([data-has-likes]) {
    .like {
      opacity: 0;
      transition: opacity 100ms ease;
    }
    &:hover {
      .like {
        opacity: 1;
      }
    }
  }
}

.message {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-filled)
  );

  &[data-from="user"] {
    --pm-border-color: light-dark(
      var(--mantine-color-gray-4),
      var(--mantine-color-dark-3)
    );
  }
  &[data-from="bot"] {
    --pm-border-color: light-dark(
      var(--mantine-color-primary-5),
      var(--mantine-color-primary-4)
    );
  }
}

.text {
  flex-grow: 1;
  white-space: pre-wrap;
  word-break: break-word;
  text-transform: none;
}
