.name {
  @mixin dark {
    color: var(--mantine-color-white);
  }
}

.highlight {
  font-weight: 500;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  text-wrap: nowrap;
}

.landingStack {
  line-height: var(--mantine-line-height-xs);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  text-align: center;
  text-wrap: pretty;
}

.landingHeadline {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
