.alert {
  width: 100%;
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-7)
  );
  border: rem(1px) solid light-dark(#1d2822, #5a7b6a);

  &[data-pulse] {
    border-color: var(--mantine-color-primary-4);
  }
}

.alertTitle {
  color: light-dark(#4e6a5b, #b9f4d7);
}

.alertMessage {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
}

.source {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
}
