@layer mantine {
  body {
    .button {
      [data-mantine-color-scheme="dark"]
        .card
        &:where(
          :disabled:not([data-loading]),
          [data-disabled]:not([data-loading])
        ) {
        background-color: var(--mantine-color-dark-7);
      }
    }

    .buttonLabel {
      font-family: var(--mantine-font-family-headings);
      font-weight: var(--button-fw);
    }

    .focus {
      outline-width: 1px;
    }

    .input {
      font-size: var(--mantine-font-size-md);
    }

    .modalInner {
      padding-top: calc(
        var(--modal-inner-y-offset, var(--modal-y-offset)) +
          env(safe-area-inset-top, 0px)
      );
    }

    .badgeLabel {
      font-family: var(--mantine-font-family-headings);
    }

    .card {
      @mixin dark {
        background-color: var(--mantine-color-dark-8);
        border-color: var(--mantine-color-dark-6);
      }
    }

    .dropdown {
      @mixin dark {
        background-color: var(--mantine-color-dark-8);
      }
    }

    .navLink {
      font-family: var(--mantine-font-family-headings);
      font-weight: 500;
      background-color: transparent;

      @mixin hover {
        background-color: transparent;
      }
    }

    .alertBody {
      row-gap: 0px;
    }

    .alertTitle {
      font-family: var(--mantine-font-family-headings);
    }

    .text {
      &:not([data-inherit]) {
        line-height: var(--mantine-line-height);
      }
    }

    .title {
      line-height: var(--mantine-line-height);
    }
  }
}
