.button {
  font-weight: 700;

  [data-mantine-color-scheme="dark"]
    :global(.mantine-Card-root)
    &:where(
      :disabled:not([data-loading]),
      [data-disabled]:not([data-loading])
    ) {
    background-color: var(--mantine-color-dark-7);
  }
}

.focus {
  outline-width: 1px;
}

.input {
  font-size: var(--mantine-font-size-md);
}

.modalInner {
  padding-top: calc(
    var(--modal-inner-y-offset, var(--modal-y-offset)) +
      env(safe-area-inset-top, 0px)
  );
}

.drawerContent {
  padding-top: env(safe-area-inset-top, 0px);
  padding-bottom: env(safe-area-inset-bottom, 0px);
  padding-left: env(safe-area-inset-left, 0px);
  padding-right: env(safe-area-inset-right, 0px);
}
