.button {
  font-weight: 700;

  [data-mantine-color-scheme="dark"]
    :global(.mantine-Card-root)
    &:where(
      :disabled:not([data-loading]),
      [data-disabled]:not([data-loading])
    ) {
    background-color: var(--mantine-color-dark-7);
  }
}

.emailText {
  --text-color: var(--mantine-color-gray-8);
}

.focus {
  outline-width: 1px;
}
