:root {
  --container-size-xs: 540px;
  --container-size-sm: 720px;
  --container-size-md: 960px;
  --container-size-lg: 1140px;
  --container-size-xl: 1320px;
  --container-size: var(--container-size-md);
}

body {
  --mantine-line-height: var(--mantine-line-height-xs);

  @mixin dark {
    --mantine-color-body: var(--mantine-color-dark-9);
    --mantine-color-default: var(--mantine-color-dark-8);
    --mantine-color-default-border: var(--mantine-color-dark-6);
  }
}
