<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" data-mantine-color-scheme="light">
  <head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />

    <%# == Fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800;900&family=JetBrains+Mono:wght@400..700&display=swap" rel="stylesheet">

    <%# == Vite %>
    <%== vite_typescript_tag "mailer", skip_preload_tags: true %>

    <%# == Inertia %>
    <%== inertia_headers %>
    <%== inertia_assets type: :email, skip_preload_tags: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
